<!-- Main container to hold the map and sidebar -->
<div class="container">
    <!-- The DIV that will contain the map -->
    <div #mapViewNode class="map-view"></div>
    <div center class="search-container">
        <!-- Filtrare după județ -->
        <select (change)="onFilterCounty($event)">
            <option value="">Selectează județ</option>
            <option *ngFor="let county of counties" [value]="county">{{ county }}</option>
        </select>
    
        <ul>
            <li *ngFor="let location of filteredLocations">
                {{ location.name }}
            </li>
        </ul>

        <div class="logo">
            <!-- Adaugă logo-ul aici -->
            <img src="assets/logo.png"/>
        </div>
    </div>
</div>

<!-- Floating Action Button (FAB) -->
<button class="fab" (click)="clearRouter()">x</button>
<button class="fabb" (click)="fetchVeterinaryLocationsFromAPI()">Aici</button>

<!-- <div class="search-container">
    <input type="text" placeholder="Caută județ..." (input)="onSearchCounty($event)">
</div> -->
<!-- <div center class="search-container"> -->
    <!-- Filtrare după județ -->
    <!-- <select (change)="onFilterCounty($event)">
        <option value="">Selectează județ</option>
        <option *ngFor="let county of counties" [value]="county">{{ county }}</option>
    </select>

    <ul>
        <li *ngFor="let location of filteredLocations">
            {{ location.name }}
        </li>
    </ul>
</div> -->


<div #mapViewNode class="map-view"></div>


<!-- Containerul pentru hartă -->
<div #mapViewNode class="map-view"></div>
