/* import the required JSAPI css */
// @import url('https://js.arcgis.com/4.12/esri/css/main.css');

// .esri-view {
//   height: 500px;
// }

/* Container to hold both the sidebar and the map */
.container {
    display: flex;
    height: calc(100vh - 64px);
    width: 100%;
}

/* Map view styling */
.map-view {
    flex: 7; /* 7 părți din 10 */
    height: 100%; /* Se asigură că ocupă întreaga înălțime disponibilă */
    width: 100%; /* 70% din lățimea containerului */
}

.search-container {
    flex: 1; /* 3 părți din 10 */
    height: 100%; /* Se asigură că ocupă întreaga înălțime disponibilă */
    width: 10%; /* 30% din lățimea containerului */
    background-color: rgb(108, 215, 114); /* Culoare de fundal */
    color: rgb(16, 49, 16);
}

.search-container .logo {
    margin-top: auto; /* Împinge logo-ul în partea de jos */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Dimensiune logo */
    width: auto; /* Dimensiune logo */
}

.search-container .logo img {
    max-width: 100%; /* Asigură redimensionarea logo-ului */
    max-height: 100%;
}

/* Floating Action Button (FAB) styling */
.fab {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 1100;
    transition: background-color 0.3s;
}
.fabb {
    position: fixed;
    bottom: 40px;
    left: 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 1100;
    transition: background-color 0.3s;
}

.fab:hover {
    background-color: #c0392b;
}

.scrollable {
    overflow-y: auto;
    height: calc(100vh - 64px);
}

.firebase-data {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    background-color: #f8f9fa;
    padding: 15px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
}

.firebase-data h3 {
    margin-top: 0;
}

.geolocation-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    background-color: #0078d4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .geolocation-button:hover {
    background-color: #005a9e;
  }
