<!-- Main container to hold the map and sidebar -->
<div class="container">
    <!-- The DIV that will contain the map -->
    <div #mapViewNode class="map-view"></div>

    <div class="search-container">
        <!-- Filtrare după județ -->
        <select (change)="onFilterCounty($event)">
            <option value="">Selectează localitatea</option>
            <option *ngFor="let county of counties" [value]="county">{{ county }}</option>
        </select>
        
        <!-- Lista locațiilor filtrate cu detalii -->
        <ul>
            <li *ngFor="let location of filteredLocations">
                <h3>{{ location['Nume'] }}</h3> <!-- Numele cabinetului -->
                <p><strong>Strada:</strong> {{ location['Adresa'] }}</p> <!-- Adresa -->
                <p><strong>Telefon:</strong> {{ location['Telefon'] }}</p> <!-- Telefon -->
                <p><strong>Program:</strong> {{ location['Program'] }}</p> <!-- Program -->
                <p><strong>Localitate:</strong> {{ location['Localitate'] }}</p> <!-- Localitate -->
                <p><strong>Site:</strong> {{ location['Site'] }}</p> <!-- Localitate -->
            </li>
        </ul>

        <div class="logo">
            <!-- Adaugă logo-ul aici -->
            <img src="assets/logo.png"/>
        </div>
    </div>
</div>

<!-- Floating Action Button (FAB) -->
<button class="fab" (click)="clearRouter()">x</button>

<!-- Butonul de adaugat datele furnizate prin jsonul http -->
<!-- <button class="fabb" (click)="fetchVeterinaryLocationsFromAPI()">Aici</button> -->
